body {
    background-color: #343434;
}
.nav-chapters {
    position: fixed;
    top: 105px;
    left: 75px;
    width: 20vw;
    height: 80vh;
    overflow-y: auto;
}
.white-text {
    color: white;
}
.chapter-title {
    position: relative;
    top: -28px;
    left: 35px;
    width: 15vw;
}
.chapter-subsections {
    position: relative;
    top: -30px;
    left: 35px;
    width: 13vw;
}
.subsection {
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 40px;
}
.subsection:hover {
    color: rgb(175, 175, 175);
    cursor: pointer;
}
.content {
    position: absolute;
    left: 28vw;
    top: 100px;
    color: rgb(230, 230, 230);
    width: 53vw;
    line-height: 35px;
}
.helvetica-text {
    font-family: 'Helvetica';
}
.IMG_kali-menu {
    width: 500px;
    height: auto;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'helvetica';
}
.page > p, .page > ul {
    position: relative;
    left: 20px;
}